# systemd service for managing all redis autoconfiguration.

[Unit]
Description=Redis Configuration Autodiscovery
Before=redis.service
BindsTo=redis.service

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/libexec/device-autodiscovery/redis
ExecReload=/bin/bash /usr/libexec/device-autodiscovery/redis
RemainAfterExit=on

[Install]
WantedBy=multi-user.target

